/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.card {
  min-height:415px;
}

.portrait {
  border-radius: 50%;
  display:block;
  margin:auto;
}

.typewrite {
  color:#2196f3;
  margin:auto;
}

.list-inline {
  margin-top: 0;
  margin-bottom: 0;
}

.list-inline li {
  display: inline;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 3px;
  font-size: 1.2em;
}

body {
   background-image: url(../img/bg.jpg);
   background-color: #000000;
   background-size: cover;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.card {
  height: 100%;
}

.card-content{
  height: 100%;
  position:relative;
}

.center-align {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
}